{% extends "base.html" %}
{%import "bootstrap/wtf.html" as wtf%}
{%block title%}

<title>Sign Up</title>
{%endblock%}
{% block navbar %}
<nav class="navbar navbar-dark bg-inverse">
    

    <ul class="nav navbar-nav">
      <li class="nav-item">
 
      </li>
       <li class="nav-item">
      </li>
    </ul>
  </nav>

{% endblock %}

{%block content%}

<div class="text-xs-center m-t-2">
  <h1> Sign Up rigth now</h1>
</div>

  <div class="container">
    <div class="row">
      <div class="col-xs-4 col-xs-offset-4">
        {{ wtf.quick_form(form) }}
      </div>
    </div>
  </div>

{%endblock%}